<%- include('../partials/head') %>
<%- include('../partials/headerAdmin') %>


    <body>
      <form action="/admin/adminProdutos" method="GET" class="cadastroProdutos" enctype="multipart/form-data">
        <div class="container" style="display: flex; justify-content: center; flex-direction: column;">
          <div class="row">
            <div class="col-12 text-center">
              <h1 class="title-admin">Painel administrativo</h1>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2>Produtos</h2>
            </div>

            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Imagem</th>
                  <th>Ações</th>
                </tr>
              </thead>

              <tbody>
                <% for(produto of Produto) { %>
                  <tr>
                    <th scope="row">
                      <%= produto.id %>
                    </th>

                    <td>
                      <%= produto.nome %>
                    </td>

                    <td id="precoProduto">
                      <%= produto.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %>
                    </td>

                    <td>
                      <%= produto.descricao %>
                    </td>

                    <td>
                      <%= produto.categoria.categoria %>
                    </td>

                    <td>
                        <img src="/images/produtos/<%=produto.foto%> " width="90px"/>
                    </td>

                    <td class="acoes-btn;" style="display: flex; grid-gap: 0 20px;">

                      <a class="btn btn-primary btn-editar" href="/admin/editarProduto/<%=produto.id%>">Editar</a>

                      <form action="/admin/deletarProduto/<%=produto.id%>" method="GET">
                        <button type="submit" class=" btn btn-primary btn-adin acoes-btn-excluir">Excluir</button>
                      </form>
                    </td>

                  </tr>
                  <% } %>
              </tbody>

            </table>

            <a href="/admin/produtosCadastrar" class="btn btn-primary" >Adicionar novo</a>
            <a href="/admin" class="btn btn-primary">Voltar</a>
          </div>
        </div>
      </form>

      

    </body>