<%- include('../partials/headerAdmin') %>

  <%- include('../partials/head') %>

    <body style="display: flex; height: 50vh; justify-content: center; flex-direction: column;">
      <form action="/admin/adminUsuarios" method="POST" class="cadastroUsuarios" enctype="multipart/form-data">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h1 class="title-admin">Painel administrativo</h1>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-12">
              <h2 class="admin">Usuarios</h2>
            </div>

            <table class="table table-bordered admin" action="/admin/adminUsuarios" method="GET">
              <thead>
                <tr>
                  <th class="admin" scope="col">ID</th>
                  <th class="admin" scope="col">Username</th>
                  <th class="admin" scope="col">Senha</th>
                  <th>Ações</th>
                </tr>
              </thead>

              <tbody>
                <% for(admin of Admin) { %>
                  <tr>
                    <td class="admin" scope="row">
                      <%= admin.id %>
                    </td>
                    <td class="admin">
                      <%= admin.username %>
                    </td>
                    <td class="admin">
                      <%= admin.senha %>
                    </td>

                    <td class="acoes-btn">
                      <a class="btn btn-primary btn-admin" href="/admin/editar/<%= admin.id %>" class="acoes-btn-editar"
                        style="width: 135px;">Editar</a>

                      <form action="/admin/deletar/<%= admin.id %>?_method=DELETE" method="POST">
                        <button type="submit" class=" btn btn-primary btn-adin acoes-btn-editar"
                          style="width: 135px;">Excluir</button>
                      </form>
                    </td>
                  </tr>
                  <% } %>
              </tbody>

            </table>

            <a href="/admin/usuariosCadastrar" class="btn btn-primary">Adicionar novo</a>
            <a href="/admin" class="btn btn-primary">Voltar</a>
          </div>

        </div>

      </form>
    </body>