<%- include('../partials/headerAdmin') %>

  <%- include('../partials/head') %>

    <body style="display: flex; height: 100vh; justify-content: center; flex-direction: column;">
      <form action="/admin/adminProdutos" method="POST" class="cadastroProdutos" enctype="multipart/form-data"></form>
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <h1 class="title-admin">Painel administrativo</h1>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Produtos</h2>
          </div>

          <table class="table table-bordered" action="/admin/adminProdutos" method="GET">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Imagem</th>
                <th>Ações</th>
              </tr>
            </thead>

            <tbody>
              <% for(produto of Produto) { %>
                <tr>
                  <th scope="row">
                    <%= produto.id %>
                  </th>
                  <td>
                    <%= produto.nome %>
                  </td>
                  <td>
                    <%= produto.preco %>
                  </td>
                  <td>
                    <%= produto.descricao %>
                  </td>
                  <td>
                    <%= produto.categoria.categoria %>
                  </td>
                  <td>
                    <img src="/images/produtos/<%= produto.imagem %>" />
                  </td>

                  <td class="acoes-btn">
                    <a class="btn btn-primary btn-editar" href="/admin/adminProduto/editar/<%= admin.id %>" style="width: 135px;margin-top: 10px;">Editar</a>

                    <a class="btn btn-primary btn-excluir" href="/admin/adminProduto/excluir/<%= admin.id %>" style="width: 135px;margin-top: 10px;">Excluir</a>
                  </td>

                </tr>
                <% } %>
            </tbody>

          </table>

          <a href="/admin/produtosCadastrar" class="btn btn-primary">Adicionar novo</a>
          <a href="/admin" class="btn btn-primary">Voltar</a>
        </div>
      </div>
    </body>